.Field {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}

.Field > label {
  margin: 0 0 6px 1px;
  font-size: 0.8em;
}

.Field > label::after {
  content: ':';
  margin: 0 1px;
}

.Field > input {
  color: var(--font-color-input);
  background-color: var(--bg-color-input);
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
}
