[submodule "Android"]
	path = Android
	url = git@github.com:GolderUnicorn/Android.git
[submodule "iOS"]
	path = iOS
	url = git@github.com:GolderUnicorn/iOS.git
[submodule "Web"]
	path = Web
	url = git@github.com:GolderUnicorn/Web.git
[submodule "Site"]
	path = Site
	url = git@github.com:GolderUnicorn/Site.git
[submodule "Importer"]
	path = Importer
	url = git@github.com:GoldenUnicornFinanceControl/Importer.git
