rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function hasAuth() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return hasAuth() && request.auth.uid == userId;
    }

    match /Banks/{bankId} {
      allow read: if hasAuth();
    }

    match /Users/{userId} {
      allow read, write: if isOwner(userId);

      match /Accounts/{id} {
        allow read, write: if isOwner(userId);
      }

      match /DebitRegisters/{id} {
        allow read, write: if isOwner(userId);
      }

      match /CreditCards/{cardId} {
        allow read, write: if isOwner(userId);
      }

      match /CreditRegisters/{id} {
        allow read, write: if isOwner(userId);
      }

      match /CreditCards/{cardId}/Invoices/{invoiceId} {
        allow read, write: if isOwner(userId);
      }
    } 
  }
}