.Field {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}

.Field > label {
  margin: 0 0 6px 1px;
  font-size: 0.8em;
}

.Field > label::after {
  content: ':';
  margin: 0 1px;
}

.Field > input,
.Field > select {
  color: var(--font-color-input);
  background-color: var(--bg-color-input);
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
}

.Field > input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  accent-color: var(--primary-color);
  border-radius: 4px;
}
