.Screen {
  padding: 16px;
}

.ScreenHeader {
  margin-bottom: 30px;
}

.TimelineList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.TimelineItem {
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.TimelineCategory {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 16px;
  flex-shrink: 0;
}

.TimelineContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: #222;
}

.TimelineDescription {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.TimelineDetails {
  font-size: 14px;
  color: #777;
  display: flex;
  gap: 8px;
}

.TimelineDate {
  font-style: italic;
}

.TimelineCategoryName {
  font-weight: bold;
}

.TimelineValue {
  font-size: 16px;
  font-weight: bold;
  text-align: right;
}

.TimelineList .positive {
  color: #0a7d0a;
}

.TimelineList .negative {
  color: #ad1717;
}

.TimelineItemTodayLine {
  border-top: 3px solid #000;
  text-align: right;
  padding: 5px;
  margin-bottom: 12px;
}

.TimelineItemTodayLine.positive {
  border-top-color: #33cc33;
}

.TimelineItemTodayLine.negative {
  border-top-color: #ff3333;
}