.TabViewNav {
  display: flex;
  flex-direction: row;
  border-top: 0px solid transparent;
  border-radius: 15px 15px 0 0;
  background-color: var(--bg-color-highlight);
}

.TabViewNav > a {
  display: flex;
  flex: 1;
  flex-direction: column;
  /* flex-wrap: wrap-reverse; */
  justify-content: center;
  align-items: center;
  padding: 1.5em 0.2em;
  color: var(--font-color-default);
  text-decoration: none;
  text-align: center;
  /* white-space: nowrap; */
}

.TabViewNav > a:hover {
  background-color: var(--bg-color-default);
}

.AiMicrophoneButtonContainer {
  flex: 1;
}

.AiMicrophoneButtonContainer .speech-marquee {
  position: absolute;
  width: auto;
  height: auto;
  bottom: var(--spacing-lg);
  left: 50%;
  transform: translateX(-50%);
}

@media (orientation: portrait) {
  .TabViewNav a > span {
    display: none;
  }
}
