.TabViewNav {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #000;
    border-radius: 15px 15px 0 0;
    margin-top: var(--spacing-md);
}

.TabViewNav > a {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 1em 2em;
    border-right: 1px solid #000;
    color: var(--font-color-default);
    text-decoration: none;
}

.TabViewNav > a:first-child {
    border-left: 1px solid #000;
}