rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAdmin() {
      return request.auth != null && request.auth.uid == 'fUztrRAGqQZ3lzT5AmvIki5x0443';
    }

    function hasAuth() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return hasAuth() && request.auth.uid == userId;
    }

    match /Banks/{bankId} {
      allow read: if hasAuth();
    }

    match /Users/{userId} {
      allow read, write: if isOwner(userId);

      function isValidCollection(collection) {
        return collection in [
          'Categories',
          'Accounts',
          'AccountsRegistries',
          'CreditCards',
          'CreditCardRegistries',
          'CreditCardInvoices',
          'GroceriesItems',
          'GroceriesProducts',
          'RecurrentRegistries'
          ];
      }

      match /{collection}/{id} {
        allow read, write: if isValidCollection(collection) && isOwner(userId);
      }

      match /AiCalls/{callId} {
        allow read: if isOwner(userId) || isAdmin();
        allow write: if isOwner(userId);
      }
    } 

    match /ResourcesUse/{userId} {
      allow read: if isOwner(userId) || isAdmin();
      allow write: if isOwner(userId);
    }
  }
}
