.input-group {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}

.input-label {
  margin: 0 0 6px 1px;
  font-size: 0.8em;
}

.input-label::after {
  content: ':';
  margin: 0 1px;
}

.input-field {
  display: block;
  width: 100%;
  color: var(--font-color-input);
  background-color: var(--bg-color-input);
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
}

.input-field:focus {
  border-color: var(--primary-color);
  outline: none;
}

.input-actions {
    margin-top: 0.25rem;
    display: flex;
    gap: 0.5rem;
}