.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container.fixed {
    flex: 0 0 auto;
    overflow: hidden;
}

.container.scroll {
    flex: 1 1 auto;
    overflow-y: auto;
}

.container.spaced {
    margin: var(--spacing-md);
}