.container {
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.container.screen {
    height: 100%;
}

.container.wide > div {
    width: 100vw;
    max-width: 900px;
    margin: 0 auto;
}

.container-content.fixed {
    flex: 0 1 auto;
}

.container-content.scroll {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.container.spaced {
    padding: var(--spacing-md);
}