.App {
  background-color: var(--bg-color-default);
  height: 100%;
  color: var(--font-color-default);
}

input {
  color: inherit;
}

.Screen {
  display: block;
  overflow: auto;
  flex: 1;
}

.PopUp {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  opacity: 0;
  background-color: var(--bg-color-default);
  transition: display .5s, opacity .5s;
  z-index: 10;
}

.PopUp.active {
  display: block;
  opacity: 1;
}