* {
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 4px;
  transition: all 1s;
}

*::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

*::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 4px;
  transition: all 1s;
}

*:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

html, body, .App, #root {
  height: 100%;
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: var(--font-color-link);
  text-decoration: none;
}
