.glass-container {
    position: relative;
	background: rgba(37, 23, 66, 0.93);
	border-radius: 2rem;
	overflow: hidden;
	box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
	z-index: 40;
    max-width: 98vw;
	padding: var(--spacing-md);
}

.glass-filter {
	position: absolute;
	inset: 0;
	z-index: 50;
	backdrop-filter: blur(0px);
	filter: url(#lg-dist);
	isolation: isolate;
}

.glass-overlay {
	position: absolute;
	inset: 0;
	z-index: 51;
	background: rgba(21, 21, 50, 0.8);
}

.glass-specular {
	position: absolute;
	inset: 0;
	z-index: 52;
	border-radius: inherit;
	overflow: hidden;
	box-shadow: inset 1px 1px 0 var(--lg-highlight),
		inset 0 0 5px var(--lg-highlight);
}

.glass-content {
    position: relative;
	z-index: 53;
	/* display: flex; */
	align-items: center;
	gap: var(--spacing-sm);
	padding: var(--spacing-md);
    color: white;
}
