name: Unit Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'yarn'
      - name: Setup Yarn
        run: |
          corepack enable
          corepack prepare yarn@stable --activate
      - name: Install dependencies
        run: yarn install --immutable
      - name: Run tests
        run: yarn test
